@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji'; */
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
    --font-jersey: "Jersey 15", "Jersey 15 Fallback", sans-serif;

    --color-background: #00131c;
    --color-primary: #003259;
    --color-secondary: #34799f;
    --color-third: #0799cd;
    --color-sky: #a2fff4;
    --color-letters: #003b64;
    --color-dark_blue: #002b4e;

    --breakpoint-3xl: 1920px;

    --shadow-icon: 3px 3px 10px rgba(0, 0, 0, 0.45);
    --shadow-bar: 0px 0px 10px rgba(0, 0, 0, 0.45);
}

html,
body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

.bg-sky img {
    pointer-events: none;
}

/* Animação letras */
.letter {
    display: inline-block;
    opacity: 0;
    /* De onde a letra começa */
    transform: translateY(80px);
    animation: bounceUp 0.6s ease-out forwards, fallDown 0.8s ease-in forwards;

    animation-delay:
        var(--in),
        var(--out);
}

@keyframes bounceUp {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    60% {
        opacity: 1;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fallDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(100vh);
    }
}

/* Fim Animação letras */

/* Começo Animação Fundo */
.downGround {
    animation: down 0.8s ease-in forwards;
}

@keyframes down {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

/* Fim Animação Fundo */

/* Animação Montanhas */
.layer {
    will-change: transform;
    transition: transform 0.3s ease-out;
}

.layer_2 {
    will-change: transform;
    transition: transform 0.7s ease-out;
}

/* Fim Animação Montanhas */

/* Animação setas */
.arrows-container {
    transition: opacity 0.9s ease;
}

.arrow {
    animation: arrowPulse 1.2s ease-in-out infinite;
}

@keyframes arrowPulse {

    0%,
    100% {
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }
}

/* Fim Animação setas */

/* Linguagem */
.lang-btn {
    opacity: 0.35;
    transition: 0.3s;
}

.lang-btn:hover {
    opacity: 1;
}

.lang-btn.active {
    opacity: 1;
    transform: scale(1.08);
}

/* Fim Linguagem */