@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji'; */
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
    --color-primary: #003259;
    --color-secondary: #34799f;
    --color-third: #0799cd;
}

/* Animação letras */
.letter {
    display: inline-block;
    opacity: 0;
    /* De onde a letra começa */
    transform: translateY(80px);
    animation: bounceUp 0.6s ease-out forwards, fallDown 0.8s ease-in forwards;

    animation-delay:
        var(--in),
        var(--out);
}

@keyframes bounceUp {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    60% {
        opacity: 1;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fallDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(100vh);
    }
}

/* Fim Animação letras */

/* Começo Animação Fundo */
.downGround {
    animation: down 0.8s ease-in forwards;
}

@keyframes down {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

/* Fim Animação Fundo */